html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: sans-serif;
    background: black;
    margin: 0;
    padding: 0;
    height: 100%;
}

#banner {
    position: absolute;
    top: 40px;
    width: 680px;
    left: 50%;
    margin-left: -350px;
    padding: 10px;
    background: black;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #000;
    z-index: 100;
}

#intro {
    position: absolute;
    top: 250px;
    width: 680px;
    left: 50%;
    margin-left: -350px;
    text-align: justify;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 100;
}

#intro b {
    width: 150px;
    display: inline-block;
}

#click-to-begin {
    text-align: center;
    font-size: 28px;
    color: yellow;
    background: rgba(0, 0, 0, 0.5);
}

#intro kbd {
    font-family: sans-serif;
    font-style: normal;
    text-decoration: underline;
}

#game {
    box-sizing: border-box;
    background: black;
    max-width: 800px;
    height: 100%;
    margin: 0 auto 0 auto;
    position: relative;

    /* Game shouldn't look like a normal web page. */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#map {
    width: 100%;
    height: 100%;
}

#messages {
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0px 3px 0px 3px;
    background: rgba(0, 0, 0, 0.5);
}

.message {
    margin: 0;
    display: block;
    padding: 1px 0 1px 0;
}

.danger {
    color: #f33;
    background: #111;
    font-weight: bold;
}

.noise {
    color: #fff;
    opacity: 0.6;
}

#story {
    position: absolute;
    box-sizing: border-box;
    display: none;
    color: #334;
    padding: 30px;
    text-align: justify;
    width: 700px;
    top: 30px;
    left: 50px;
    background: #fda;
    border-radius: 5px;
    box-shadow: 0px 0px 50px black;
    border: 1px solid #007;
}

#story .title {
    font-size: 25px;
    text-align: center;
}

#story .description {
    text-indent: 1em;
}

#story pre {
    text-indent: 0;
    margin-left: 2em;
    font-weight: bold;
    font-size: 125%;
}

#story .option {
    padding: 10px 30px;
    font-weight: bold;
    color: #300;
    cursor: pointer;
}

#story .option:hover {
    color: #a00;
}

#story .close {
    display: none;
    float: right;
    font-size: 20px;
}

#status {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    color: white;
    text-align: right;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.33);
}

#supplies {
    color: #ff7;
    opacity: 1.0;
}

#alignment {
}

#time {
}

#fatigue {
}

#party {
    font-weight: normal;
    margin: 5px 0 0 0;
    padding: 0;
}

#party .member {
    display: block;
}

#gameover {
    display: none;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 600px;
    background: black;
    color: #ddd;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 50px #000;
}

#gameover h1 {
    margin: 10px 0 10px 0;
    color: #eee;
    font-size: 50px;
}

#gameover h2 {
    margin: 0 0 0 0;
    font-size: 28px;
}

#gameover .distance {
    font-weight: bold;
    color: yellow;
}

.alignment-Angelic, .alignment-Good, .alignment-Honorable {
    color: #0f0;
}

.alignment-Neutral {
    color: white;
}

.alignment-Sociopath, .alignment-Evil, .alignment-Dishonorable {
    color: red;
}

#volume {
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: pointer;
}

#mute {
    display: none;
}

#credits {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
    color: gray;
    text-align: right;
}

#credits p {
    margin: 0;
    padding: 0;
}

#credits a {
    color: #44a;
}

.fatigue-0 {
    color: lightblue;
}

.fatigue-1 {
    color: white;
}

.fatigue-2 {
    color: yellow;
}

.fatigue-3 {
    color: orange;
}

.fatigue-4 {
    color: red;
    font-size: 150%;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
